/* all common css start */
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;

}

.container {
    width: 1320px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* all common css end */




/* headerPart Start */

#headerPart {
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
    z-index: 2;
}

.logowithcontain {
    display: flex;
    align-items: center;
}

.logo {
    width: 15%;
}

.manu {
    width: 70%;
}

.icons {
    width: 15%;
    color: #fff;
    font-size: 25px;
    display: flex;
    column-gap: 30px;
}

.exit {
    display: flex;
    column-gap: 5px;
}

.exit span {
    font-size: 16px;
    font-weight: 400px;
}

.logowithcontain {
    display: flex;
    align-items: center;
}

.manu ul {
    display: flex;
    column-gap: 35px;
    font-size: 16px;
    font-weight: 400;
}

.manu ul a {
    color: #ddd;
    position: relative;
}

.manu ul a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: red;
    bottom: 0;
    left: 0px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.4s;
}

.manu ul a:hover::before {
    color: green;
    background: red;
    opacity: 1;

}

/* headerPart End */


/* bannerPart Start */
#bannerPart {
    padding-top: 340px;
    padding-bottom: 100px;
    background: url(../images/banner\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bannerContain {
    color: #fff;
    /* margin-top  : 280px; */
    /* margin-bottom:  ; */
}

.bannerContain h2 {
    font-size: 27px;
    font-weight: 400;
}

.bannerContain h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 140px;
    position: relative;
}

.bannerContain h1::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background: #fff;
    top: 40px;
    left: 415px;
}

.bannerContain a {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    color: #000;
    background: #ffffff;
    margin-bottom: 300px;
}

.bannerIcons {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 36px;
}

.facebook {
    position: relative;
}

.facebook span {
    position: absolute;
    top: 8px;
    left: -10px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

.facebook span:hover {
    opacity: 1;
    position: absolute;
    top: -25px;
    left: -10px;
    color: #ff0000;
    /* background: green; */
}

.linkedin {
    position: relative;
}

.linkedin span {
    position: absolute;
    top: -25px;
    left: -5px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

.twitter {
    position: relative;
}

.twitter span {
    position: absolute;
    top: -25px;
    left: -5px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

.instragram {
    position: relative;
}

.instragram span {
    position: absolute;
    top: -25px;
    left: -5px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

/* bannerPart End */



/* about Section Start */

#aboutSection {
    background: #121212;

}

.mainContain {
    padding: 40px 0px 80px;
}

.contain {}

.aboutUs {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
}

.aboutUs h2 {
    line-height: 65px;
}

.image {
    display: flex;
    column-gap: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.text {
    color: #fff;
}

.text h2 {
    font-size: 27px;
    font-weight: 600;
}

.text ul li {
    font-size: 18px;
    font-weight: 400;
    /* font-family: Barlow Condensed; */
    line-height: 30px;
}

.text ul {
    margin: 18px 0;
}

.text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.text a {
    padding: 8px 12px;
    background: #fff;
    color: #000;
    margin-top: 30px;
    border-radius: 5px;
}

.review {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
}

.review1 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review1 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review1 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

.review2 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review2 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review2 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

.review3 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review3 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review3 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

.review4 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review4 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review4 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

/* about Section End */


/* games section start */
#gamesPart {
    background: #141414;
}

.gamesFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.gamesLeft {
    position: relative;
    width: 50%;

}

.leftBg {
    position: absolute;
    clip-path: polygon(20% 0%, 98% 0%, 80% 100%, 2% 100%);
    background: red;
    height: 392px;
    width: 658px;
    top: -47px;
    left: 44px;
}

.gamesLeft img {
    position: absolute;
    top: -219px;
    left: 135px;
    z-index: 1;
}

.gamesRight {
    width: 50%;
    margin-top: 125px;
    text-align: end;
}

.gamesRight img {

    opacity: 0.7;
}

.gamesRightpart h3 {
    margin-bottom: 90px;
    color: #fff;
    line-height: 50px;
    font-size: 27px;
    letter-spacing: 7%;
    font-family: "Barlow Condensed", sans-serif;
}

/* games section end */


/* livesscore boardpart start */

#livescorePart {
    background: #0c0c0c;
}

.boardPart {
    /* display: flex; */
    padding: 100px 0 90px 0;
}

.boardText h3 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 7%;
}

.liveGames {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 120px;
    /* width: 100%; */

}

.previous h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 9%;
    margin-top: 65px;
    padding-bottom: 50px;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;


}

.teamName1 {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
    row-gap: 30px;
}

.teamDelta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
    width: 430px;
    height: 115px;
    padding-right: 60px;
    /* padding: 0 20px; */
}

.teamDelta h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Barlow Condensed", sans-serif;
}

.scorePoint p {
    font-size: 40px;
    font-weight: 500px;
}


.teamAlpha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%);
    width: 430px;
    height: 115px;
    padding-left: 60px;
}

.teamAlpha h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Barlow Condensed", sans-serif;
}

/* .teamDevile{
    display: flex;
    align-items: center;
    background: red;
    width: 320px;
} */


.teamName2 {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60PX;
    /* flex-direction: column; */
    row-gap: 30px;
}

.teamDevile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
    width: 430px;
    height: 115px;
    padding-right: 60px;
    /* padding: 0 20px; */
}

.teamDevile h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Barlow Condensed", sans-serif;
}

.scorePoint p {
    font-size: 40px;
    font-weight: 500px;
}


.teamNinja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212121;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%);
    width: 430px;
    height: 115px;
    padding-left: 60px;
}

.teamNinja h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Barlow Condensed", sans-serif;
}

/* gamesSele section start */

#gamesSele {
    background: #191919
}

.selepartsection {
    padding-bottom: 30px;

}

.selePart1 {
    text-align: end;
    padding-top: 100px;
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    color: #fff;

}

.seleCard {
    display: flex;
    justify-content: space-between;


}

.seleCard1 {
    color: #fff;
    padding-bottom: 65px;
    /* width: 25%; */
}

.seleCard1 h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: mixed;
    font-family: "Barlow Condiensed", sans-serif;
    padding-top: 24px;
    padding-bottom: 30px;
}

.seleCard1 p {
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    letter-spacing: 10%;
}

.seleCard span {
    font-size: 16px;
    font-weight: 400px;
}

.seleCard1 span:nth-of-type(1) {
    background: red;
    padding: 5px;
}

.seleCard1 span:nth-of-type(2) {
    color: #666;
    padding: 0 8px;
}

.gameCatagory h3 {
    color: #fff;
    padding-bottom: 34px;
    font-size: 20px;
    font-weight: 500px;
    font-family: "Barlow Condiensed", sans-serif;
}

.favouriteGames {
    height: 450px;
    width: 100%;
    background: #212121;
    display: flex;
      padding: 45px 100px ;
}
.favouriteGametext{
    width: 60%;
}
.favouriteGametext h3{
    font-size: 16px;
    font-weight: 500;
    color: #ff4655;
    letter-spacing: 10%;
    padding-bottom: 30px;
}
.favouriteGametext h2{
     font-size: 36px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    font-family: "Barlow Condiensed", sans-serif;
}
.favouriteGametext p{
     font-size: 16px;
    font-weight: 600;
    color: #666;
    margin-top: 30px;
    line-height: 30px;
    letter-spacing: 10%;
    width: 750px;
}
.favouriteGametext a{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 128px;
    background: #121212;
    margin-top: 30px;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
}
.favouriteGametext a:hover{
    background: #3a3a3a;
    color: #c4c4c4;
}
.favouriteGameimage{
    width: 40%;
    display: flex;
    justify-content:center ;
    position: relative;
}
.favouriteGameimage img:nth-of-type(1){
    position: absolute;
    right: 130px;
    top: 25px; 
    z-index: ;
}
.favouriteGameimage img:nth-of-type(2) {
    position: absolute;
    right: 100px;
    top: 10px;
    z-index: 2;
}
.favouriteGameimage img:nth-of-type(3){
    position: absolute;
    right:40px;
    top: -5 px; 
    z-index: 3;
}
.favouriteGameimage img:nth-of-type(4) {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 2;
}   
.favouriteGameimage img:nth-of-type(5){
    position: absolute;
    right: 0px;
    top: 30px; 
    z-index: 1;
}
/* gamesSele section end */