/* all common css start */
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;

}

.container {
    width: 1320px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* all common css end */




/* headerPart Start */

#headerPart {
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logowithcontain {
    display: flex;
    align-items: center;
}

.logo {
    width: 15%;
}

.manu {
    width: 70%;
}

.icons {
    width: 15%;
    color: #fff;
    font-size: 25px;
    display: flex;
    column-gap: 30px;
}

.exit {
    display: flex;
    column-gap: 5px;
}

.exit span {
    font-size: 16px;
    font-weight: 400px;
}

.logowithcontain {
    display: flex;
    align-items: center;
}

.manu ul {
    display: flex;
    column-gap: 35px;
    font-size: 16px;
    font-weight: 400;
}

.manu ul a {
    color: #ddd;
    position: relative;
}

.manu ul a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: red;
    bottom: 0;
    left: 0px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.4s;
}

.manu ul a:hover::before {
    color: green;
    background: red;
    opacity: 1;

}

/* headerPart End */


/* bannerPart Start */
#bannerPart {
    padding-top: 340px;
    padding-bottom: 100px;
    background: url(../images/banner\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bannerContain {
    color: #fff;
    /* margin-top  : 280px; */
    /* margin-bottom:  ; */
}

.bannerContain h2 {
    font-size: 27px;
    font-weight: 400;
}

.bannerContain h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 140px;
    position: relative;
}

.bannerContain h1::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    background: #fff;
    top: 40px;
    left: 415px;
}

.bannerContain a {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    color: #000;
    background: #ffffff;
    margin-bottom: 300px;
}

.bannerIcons {
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 36px;
}

.facebook {
    position: relative;
}

.facebook span {
    position: absolute;
    top: 8px;
    left: -10px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

.facebook span:hover{
    opacity: 1;
    position:absolute;
    top: -25px;
    left: -10px;
    color: #ff0000;
    /* background: green; */
}

.linkedin {
    position: relative;
}

.linkedin span {
    position: absolute;
    top: -25px;
    left: -5px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

.twitter {
    position: relative;
}

.twitter span {
    position: absolute;
    top: -25px;
    left: -5px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

.instragram {
    position: relative;
}

.instragram span {
    position: absolute;
    top: -25px;
    left: -5px;
    font-size: 20px;
    opacity: 0;
    transition: 0.4s;
}

/* bannerPart End */



/* about Section Start */

#aboutSection {
    background: #121212;

}

.mainContain {
    padding: 40px 0px 80px;
}

.contain {}

.aboutUs {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
}

.aboutUs h2 {
    line-height: 65px;
}

.image {
    display: flex;
    column-gap: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.text {
    color: #fff;
}

.text h2 {
    font-size: 27px;
    font-weight: 600;
}

.text ul li {
    font-size: 18px;
    font-weight: 400;
    /* font-family: Barlow Condensed; */
    line-height: 30px;
}

.text ul {
    margin: 18px 0;
}

.text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.text a {
    padding: 8px 12px;
    background: #fff;
    color: #000;
    margin-top: 30px;
    border-radius: 5px;
}

.review {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
}

.review1 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review1 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review1 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

.review2 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review2 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review2 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

.review3 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review3 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review3 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

.review4 h3 {
    font-size: 60px;
    font-weight: 600;
    display: inline-block;

}

.review4 p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 35px;
}

.review4 {
    color: #fff;
    background: #212121;
    padding: 45px 100px;
    border-radius: 0 60px 0 60px;
}

/* about Section End */